<div class="text-center">
  <h1>Welcome to the MEAN Social App</h1>
  <br />
  <!-- User logged out-->
  <div *ngIf="!authService.loggedIn()">
    <div>
      <p class="lead">Register as a new user.</p>
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    </div>
    <br />
    <div>
      <p class="lead">Already have an account?</p>
      <a class="btn btn-default" [routerLink]="['/login']">Login</a>
    </div>
  </div>

  <!-- User logged in -->
  <div *ngIf="authService.loggedIn()">
    <div>
      <p class="lead" *ngIf="user">
        Welcome, you have logged in as {{ user.name }}
      </p>
      <p class=""></p>
      <a class="btn btn-default" [routerLink]="['/dashboard']">Dashboard</a>
    </div>
    <br />
    <div>
      <p class="lead">Logout</p>
      <a class="btn btn-default" (click)="authService.logout()">Logout</a>
    </div>
  </div>
</div>
